body {
    background-color: #036f1c;
    color: whitesmoke;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;

}

button {
    font-weight: bold;
    background-color: goldenrod;
    color: #016f32;
    border: none;
    border-radius: 3px;
    width: 150px;
    padding: 10px;
    /* margin-bottom: 10px; */
}

button:hover {
    color: white;
    cursor: pointer;
    border: 2px solid white; 
}